################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/Data
/Logs
/Plugins
/bin/Debug/net8.0
/appsettings.Development.json
