name: Docker Image Publish

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.NUGET_PACKAGE_TOKEN }}

      - name: Set current date as env variable
        run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV

      - name: Create Manifest_latest.json file
        run: |
          cat <<EOF > /home/runner/work/_temp/Manifest_latest.json
          { "name": "RIoT2 Docker Node", "date": "${{env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "ghcr.io/revolutionized-iot2/riot2-node:latest" }
          EOF

      - name: Create Manifest_rev.json file
        run: |
          cat <<EOF > /home/runner/work/_temp/Manifest_rev.json
          { "name": "RIoT2 Docker Node", "date": "${{env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "ghcr.io/revolutionized-iot2/riot2-node:${{github.ref_name}}" }
          EOF

      - name: Create Manifest_latestArm.json file
        run: |
          cat <<EOF > /home/runner/work/_temp/Manifest_latestArm.json
          { "name": "RIoT2 Docker Node (ARM64)", "date": "${{env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "ghcr.io/revolutionized-iot2/riot2-node:latest-arm64v8" }
          EOF

      - name: Create Manifest_revArm.json file
        run: |
          cat <<EOF > /home/runner/work/_temp/Manifest_revArm.json
          { "name": "RIoT2 Docker Node (ARM64)", "date": "${{env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "ghcr.io/revolutionized-iot2/riot2-node:${{github.ref_name}}-arm64v8" }
          EOF

      - name: Build the ARM64 Docker images
        run: |
         docker buildx build -o type=docker -t ghcr.io/revolutionized-iot2/riot2-node:latest-arm64v8 -t ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}-arm64v8 -f ./Dockerfile_Arm64 . --build-arg NUGET_AUTH_TOKEN=${{ secrets.NUGET_PACKAGE_TOKEN }} --platform=linux/arm64
         
         docker create --name temp_container_arm ghcr.io/revolutionized-iot2/riot2-node:latest-arm64v8
         docker cp /home/runner/work/_temp/Manifest_latestArm.json temp_container_arm:/app/Data/Manifest.json
         docker commit temp_container_arm ghcr.io/revolutionized-iot2/riot2-node:latest-arm64v8

         docker create --name temp_container_arm2 ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}-arm64v8
         docker cp /home/runner/work/_temp/Manifest_revArm.json temp_container_arm2:/app/Data/Manifest.json
         docker commit temp_container_arm2 ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}-arm64v8
         
         docker push ghcr.io/revolutionized-iot2/riot2-node:latest-arm64v8
         docker push ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}-arm64v8

      - name: Build the Docker image
        run: |
         docker build -t ghcr.io/revolutionized-iot2/riot2-node:latest -t ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }} . --build-arg NUGET_AUTH_TOKEN=${{ secrets.NUGET_PACKAGE_TOKEN }}
         
         docker create --name temp_container ghcr.io/revolutionized-iot2/riot2-node:latest
         docker cp /home/runner/work/_temp/Manifest_latest.json temp_container:/app/Data/Manifest.json
         docker commit temp_container ghcr.io/revolutionized-iot2/riot2-node:latest

         docker create --name temp_container2 ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}
         docker cp /home/runner/work/_temp/Manifest_rev.json temp_container2:/app/Data/Manifest.json
         docker commit temp_container2 ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}

         docker push ghcr.io/revolutionized-iot2/riot2-node:latest
         docker push ghcr.io/revolutionized-iot2/riot2-node:${{ github.ref_name }}